# Makefile for BaseARE project, USER configure
# CopyRight (c) 2005, 2006  OneWave, Inc.  All Rights Reserved.
# zhoujg@onewaveinc.com
# 2006-01

# this is user default configue, 
# you can set your config in MK.config.custom

TOP_DIR ?= .

-include $(TOP_DIR)/MK.config.custom

###########################################################
####	USER configure : you can reconfigure the following in MK.config.custom

# BUILD_TYPE can be set to : DEBUG / RELEASE / FULL_DEBUG / FULL_RELEASE
BUILD_TYPE ?= DEBUG


SEALSARE_DIR ?= $(TOP_DIR)/../SealsARE

LIBXML2_DIR ?= /usr

OPENSSL_DIR ?= /opt/tools/openssl

MPEG4IP_DIR ?= $(TOP_DIR)/libMpeg4Ip


# PLAT_BUILD_TYPE can be set to : IPTV / PC / ATCA
SCONF_PLAT_BUILD_TYPE ?= IPTV

###########################################################
####	this is actually setting

CFLAGS += -I$(SEALSARE_DIR)/BaseARE -I$(SEALSARE_DIR)/UtilARE 
CFLAGS += -I$(LIBXML2_DIR)/include/libxml2
#CFLAGS += -I$(MPEG4IP_DIR)/include

# move to prog/Makefile to use SCONF_PLAT_BUILD_TYPE

-include $(SEALSARE_DIR)/MK.template

-include $(TOP_DIR)/PROG_VERSION.def

# end

